@using SqliteDemo.Models.Entity;
@model Credential
@{
    ViewBag.Title = "Login";
}


<h2>Login</h2>

<form action="~/Authentication/Login" method="post">
    <div class="input-group">
       Username: <input type="text" class="form-control" placeholder="Username" name="UserName" value="@Model.UserName">
    </div><p class="pp"> @TempData["Username"]</p>
    <div class="input-group">
        Password: <input class="form-control" placeholder="Password" name="Password" value="@Model.Password" type="password">
    </div><p class="pp"> @TempData["Password"]</p>
    <button  type="submit" value="Login" name="Login" class="btn btn-default">Login</button>
</form>
