@using SqliteDemo.Models.Entity;
@model Credential
@{
    ViewBag.Title = "Login";
}
<h2>Login</h2>

<form action="~/Authentication/Login" method="post">
    <input name="UserId" value="@Model.UserId" type="text" />
    <input name="Password" value="@Model.Password" type="password" />

    <label>Login<input type="submit" value="Login" name="Login" /></label>
</form>
