@using SqliteDemo.Models.Entity;
@model User
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<form action="~/Authentication/Register" method="post">
 
   UserName: <input name="Name" value="@Model.name" type="text" /> <br />
   Email:  <input name="EmailAddress" value="@Model.EmailAddress" type="text" /> <br />
   Password: <input name="Password" value="@Model.password" type="password" /> <br />

    <label><input type="submit" value="Register" name="Register" /></label>
</form>