
@{
   ViewBag.Title = "ChangeEvent";
}
@using SqliteDemo.Models.Entity;
@model Events
<p>Change Event Information</p>
<form action="~/Event/UpdateEvent" method="post">
    Choose
    Event Id: <input name="EventId" value="@Model.EventId" type="text" required/>
    Event Name: <input name="EventName" value="@Model.EventName" type="text" required/>
    Category:  <input name="Category" value="@Model.Category" type="text" required/>
    Inforamtion: <input name="Information" value="@Model.Information" type="text"  required/>
    <label>Save<input type="submit" value="Save" name="Save" /></label>
</form>

