@using SqliteDemo.Models.Entity;
@{
    ViewBag.Title = "CommentAdd";
}

<h2>CommentAdd</h2>
@model Comment
<form method="post" action="~/Event/CommentAdd">

    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" name="Text" value="@Model.Text"></textarea>
    </div>

    <p><input value="Enter" type="submit"></p>
</form>