@{
    ViewBag.Title = "UpdateEvent";
}
@using SqliteDemo.Models.Entity;
@model Events[]

<h2>UpdateEvent</h2>

<table style="width:100%">
    <tr>
        <th>Event ID</th>
        <th>User ID</th>
        <th>Event Name</th>
    </tr>

    @foreach (Events events in Model)
    {

        <tr>
       <td>@events.EventId  </td>             
       <td>@events.UserId</td>
       <td>@events.EventName</td>  
        </tr>
    }
</table>
