@{
    ViewBag.Title = "UpdateEvent";
}
@using SqliteDemo.Models.Entity;
@model Events

<h2>UpdateEvent</h2>
<form method="post" action="~/Event/UpdateEvent">

    <p><label>Event Id: <input type="text" name="EventId" value="@Model.EventId" /></label></p>
    <p><label>Event Name: <input type="text" name="EventName" value="@Model.EventName" /></label></p>
    <p><input type="submit" value="Update Event" /></p>

</form>
