@using SqliteDemo.Models.Repository;
@using SqliteDemo.Models.Entity;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
    bool result = RepositoryManager.Repository.Initialize();
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
           
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
         <center>  <p class="lead"> SEARCH UP</p></center>
            <div class="jumbotron">
                
            </div>
   



    
</body>
</html>


