@using SqliteDemo.Models.Repository;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";

    bool result = RepositoryManager.Repository.Initialize();

}
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("http://wikimotive.com/wikiblog/wp-content/uploads/sites/2/2013/10/events-heavenly-header1.jpg ");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="jumbotron">
        <center>  <p class="lead"> SEARCH UP</p></center>
    </div>
</body>
</html>


