@using SqliteDemo.Models.Repository;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";

    bool result = RepositoryManager.Repository.Initialize();

}
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url("https://static1.squarespace.com/static/55c37beae4b0336075603f86/55c3cd80e4b01531b3208f2e/5603032be4b008bd0ad4e6fb/1486126957019/?format=1500w");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="jumbotron">
        <center>  <p class="lead"> SEARCH UP</p></center>
    </div>
</body>
</html>


