@using SqliteDemo.Models.Repository;
@using SqliteDemo.Models.Entity;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
    bool result = RepositoryManager.Repository.Initialize();
}


    <div class="jumbotron">
        <center>  <p class="lead"> SEARCH UP</p></center>
    </div>


