@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <p class="lead"> !!</p>
 
</div>

<div class="row">
    <div class="col-md-4">
        <h2>AdminPage</h2>
        <p>
            Only admin

            <ul>
                <li><a href="~/Event/ListEvents">List All Events</a></li>

                <li><a href="~/Event/AddEvent">Add an Event</a></li>
                <li><a href="~/Event/DeleteEvent">Delete an Event</a></li>
                <li><a href="~/Event/UpdateEvent">Change an Event</a></li>
                <li><a href="~/User/List">User List</a></li>
                <li><a href="~/User/List">Update User</a></li>            
            </ul>
        </p>
        <p><a class="btn btn-default" href="">Control Events &raquo;</a></p>
    </div>
  
</div>

