@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<h4>Search-Up</h4>

<a href="~/Home/InitDb">Initialize the Database</a>
<a href="~/Authentication/Login">Login Page</a>

