@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<h4>Search-Up</h4>




<ul>
    <a href="~/Home/InitDb">Initialize the Database</a>
    <a href="~/Authentication/Login">Login Page</a>
    <a href="~/Authentication/Register">Register Page</a>
    <li><a href="~/Event/ListEvents">List All Events</a></li>
    <li><a href="~/Event/AddEvent">Add an Event</a></li>
    <li><a href="~/Event/DeleteEvent">Delete an Event</a></li>
    <li><a href="~/Event/UpdateEvent">Change an Event</a></li>
</ul>